* {
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

header {
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(gmbr/bck.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

ul {
	float: right;
	list-style-type: none;
	margin-top: 25px;
	margin-right: 20px;
}

ul li {
	display: inline-block;
	margin-top: 20px;
}

ul li a {
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}

ul li a:hover {
	background-color: #fff;
	color: #000;
}

ul li.active a {
	background-color: #fff;
	color: #000;
}

.logo img {
	float: left;
	width: 200px;
	height: auto;
	margin-top: 15px;
}

.main {
	max-width: 1200px;
	margin: auto;
}

.title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: white;
}

.title h1 {
	font-size: 60px;
}

p {
	text-align: center;
	text-decoration: bold;
}

.row {
	text-align: center;
}

footer {
	padding: 30px 0;
	background-color: #333;
	color: #fff;
	text-align: center;
}

/* Css Contact form */
.contact-section{
	background: url(gmbrb/bck.jpg) no-repeat-center;
	background-size: cover;
	padding: 40px 0;
}

.contact-section h1 {
	text-align: center;
	color: #ddd;
	margin-top: 100px;
}

.border {
	width: 100px;
	height: 10px;
	background: #34495e;
	margin: 40px auto;
}

.contact-form {
	max-width: 600px;
	margin: auto;
	padding: 0 10px;
	overflow: hidden;
}

.contact-form-text {
	display: block;
	width: 100%;
	box-sizing: border-box;
	margin: 16px 0;
	border: 0;
	background: #111;
	padding: 20px 40px;
	outline: none;
	color: #ddd;
	transition: 0.5s;
}

.contact-form-text:focus {
	box-shadow: 0 0 10px 4px #34495e;
}

textarea .contact-form-text {
	resize: none;
	height: 120px;
}

.contact-form-btn {
	float: right;
	border: 0;
	background: #34495e;
	color: #fff;
	padding: 12px 50px;
	border-radius: 20px;
	cursor: pointer;
	transition: 0.5s;
}

.contact-form-btn:hover {
	background: #2980b9;
}

.bg-loader {
	background-color: #000;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bg-loader .loader {
	width: 100px;
	height: 100px;
	border: 3px	 solid #fff;
	border-radius: 50%;
	border-top-color: #FB0B0B;
	border-right-color: #FB0B0B;
	border-bottom-color: #FB0B0B;
	animation: puterin .5s linear infinite;
}

@keyframes puterin {
	100% {
		transform: rotate(360deg);
	}
}

.main {
	background-image: url(gmbbr/bck2.jpg);
}

.title2 h1 {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: white;
	font-size: 50px;

}
.text {
	text-align: center;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: white;
}
.title2 p {
	text-align: center;
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: white;
}
.eur h1 {
	margin-bottom: 50px;
}
.asi h1 {
	margin-bottom: 50px;
}
.na h1 {
	margin-bottom: 50px;
}
.sa h1 {
	margin-bottom: 50px;
}
.container h1{
	text-align: center;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: white;
}
.k1 {
	text-align: center;
	position: absolute;
	top: 70%;
	left: 20%;
	transform: translate(-50%,-50%);
	color: white;
}
.k2 {
	text-align: center;
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: white;
}

.k3 {
	text-align: center;
	position: absolute;
	top: 70%;
	left: 80%;
	transform: translate(-50%,-50%);
	color: white;
}